/*global*/
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

/*header*/
/* header{
    background-color: #004b60;
    color: white;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
nav h1{
    color: white;
}

/*notifications*/
#notifications{
    width: 50%;
    border-radius: 5px;
    padding: 3px;
    height: 30px;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
}
.hide{
    display: none;
}
.success{
    color: rgb(0, 120, 0)!important;
    background-color: rgb(200, 248, 200)!important;
}
.error{
    border: 2px solid red;
    background-color: rgb(252, 183, 183)!important;
    color: red !important;
  
}



/*main*/
h2{
    text-align: center;
    padding-top: 20px;
    margin: 40px auto 0;
}
.form-container{
    background-color: #dedede;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem auto;

}
.form-container div{
    margin-bottom: 10px;
}
input, select{
    width: 50%;
    padding: 3px;
    border-radius: 3px;
    border: none;
}
label{
    width: 200px;
    text-align: right;
    margin-right: 1.5%;
}

/*Index*/
.loginCont{
    width: 40%;
    margin-top: 80px;
}
.loginIn{
    margin: 15px auto;
}
.invalid{
    margin: 20px;
    border: 2px solid red;
    border-radius: 3px;
    background-color: rgb(252, 183, 183)!important;
    color: red !important;
  
}

/*Users*/
.container h2{
    padding-bottom: 30px;
    font-weight: 800;
}


